{% extends "base.html" %}

{% block content %}
{% endblock %}

{% block whitecontent %}
	If you find this site useful, you owe Sanjay a high-five. 

	<p> &nbsp; </p>
	<h3><b>FAQ:</b></h3>
	<p><b>Why can't I add something?</b>
	<p>You have to log in, dummy.
	<p> &nbsp; </p>
	<p><b>Why does it list Patel college when I'm not logged in?</b>
	<p>Because it's my college and if you don't like it too bad. When you log in, the display will adjust to your college.
	<p> &nbsp; </p>
	<p><b>How long did it take you to make this?</b>
	<p>5 days or so, working a few hours a day.
	<p> &nbsp; </p>
	<p><b>Why's this site purple?</b>
	<p>School colors, broski.
	<p> &nbsp; </p>
	<p><b>Technical details?</b>
	<p>The site was programmed in <a href="http://docs.python.org/tutorial/">Python</a> using the <a href="https://www.djangoproject.com/">Django</a> web framework. The site is hosted on <a href="http://www.heroku.com/">Heroku</a> and is version controlled to <a href="https://github.com/">Github</a>.
{% endblock %}

